.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 10px;

    ul {
        flex: 1;
        list-style: none;
        text-align: center;
    }

    ul li {
        display: inline-block;
        cursor: pointer;
        color: var(--text-color);
        text-decoration: none;

        a {
            text-decoration: none;
            color: var(--text-color);
            margin-right: 20px;
            font-size: 12px;
        }
    }
}

@media (min-width: 800px) {
    .container {
        .toggleIcon {
            max-width: 40px;
        }
    }

    ul li {
        display: inline-block;
        cursor: pointer;

        a {
            text-decoration: none;
            color: var(--text-color);
            margin-right: 20px;
        }
    }
}